.padd{
    padding-top: 36px;
    font-family: 'Playfair Display', serif;
    

}


.blok-1{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-bottom: 100px;
    text-align: center;
    border-bottom: 2px inset #B7B7B7;

    
}
.border-block{
    border-bottom-style: solid;
    border-bottom:6px ;
   
}
.grad {
    background-color: linear-gradient(rgba(255, 0, 0, 0.892), rgba(255, 255, 0, 0.941), rgb(4, 196, 4));
  } 
  .img-center {
    display: block;
    margin-left: 0;
    margin-right:0;
    width: 345px;
    padding-top: 50px;
  }

  .title{
    margin-bottom: 100px;
    border-style: outset;
    height: 50px;
  }
  @font-face {
    font-family: "font-family: 'Playfair Display', serif;";
    src: url("assets/myfontname.ttf") format("truetype");
  }
  body{
    color: rgb(0, 255, 255);
  }